.box-layout {
    background: white;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    background: fade-out(white, .15);
    border-radius: 3px;
    text-align: center;
    width: 35rem;
    padding: 3.2rem 1.6rem 1.2rem 1.6rem;
    border: 0.5px;
    border-style: groove;
    display: flex;
    flex-direction: column;

    @media (max-width: $desktop-breakpoint) {
        border: none;
        width: -webkit-fill-available;
    }
}

.box-layout__title {
    margin: 0 0 3rem 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: $grey;
}

.box-layout__input {
    border: 1px solid #cacccd;
    border-radius: $small-border;
    height: 43px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    margin: 0 0 $s-size 0;
    width: -webkit-fill-available;
}

.box-layout--button {
    width: -webkit-fill-available;
}

.box-layout__icon {
    position: absolute;
    width: 130px;
    left: 25px;
    top: 25px;

    @media (max-width: $desktop-breakpoint) {
        left: 0;
        top: 0;
        padding: 15px;
    }
}

.box-layout__text {
    color: $grey;
}

.login__image__wrapper {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.login__image {

    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.login__title {

    color: black;
}