.dataform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.dataform__item {
    flex-basis: 100px;
    flex-grow: 1;
}

.dataform__no-files {
    text-align: center;
    font-weight: 300;
}

.dataform__spinner__wrapper {
    margin-top: 10px;
    width: 61vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataform-loadmore-files {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}