.section {
    float: left;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
        width: 0px;
        height: unset;
        background: transparent; /* Chrome/Safari/Webkit */
    }

    @media (max-width: $desktop-breakpoint) {
     
        overflow-y: hidden;
    }

}
.main-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    width: fill-available;
    // overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: $desktop-breakpoint) {
        // margin-top: 77px;
        display: flex;
        flex-direction: column;
        //overflow-x: hidden;
        overflow: hidden;
        width: unset;
    }

}

.sub-container {
    width: inherit;
    // height: 83vh;
    height: -webkit-fill-available;
    display: inherit;
    overflow: hidden;

    @media (max-width: $desktop-breakpoint) { 
        height: unset;
    }
}

.outter-wrapper {

    @media (max-width: $desktop-breakpoint) {
     
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
        &::-webkit-scrollbar {
            width: 0px;
            height: unset;
            background: transparent; /* Chrome/Safari/Webkit */
        }
    }
}

// .outter-wrapper {
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
//     @media (max-width: $desktop-breakpoint) {
//         //background: blue;
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
// }

.main-page {
    background: white;
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    padding-top: 71px;

    @media (max-width: $desktop-breakpoint) {
        background: #fff;
        /* height: 100vh; */
        // height: calc(100% - 80px);
        height: unset;
        width: 100vw;
        display: inline-flex;
        padding: 0;
        overflow: hidden;
        // position: fixed;
        // padding: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // margin-top: 80px;
        //background: red;
    }
}


