.reset-password__main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.reset-password__box {
    background: rgba(255,255,255,.85);
    border-radius: 3px;
    text-align: center;
    width: 35rem;
    padding: 3.2rem 1.6rem 1.2rem 1.6rem;
    border: .5px;
    border-style: groove;
    display: flex;
    flex-direction: column;
}

.reset-password__title {
    margin: 0 0 3rem 0;
    line-height: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
    color: #666;
}

.reset-password__input {
    border: 1px solid #cacccd;
    border-radius: 2px;
    height: 43px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.2rem;
    margin: 0 0 1.2rem 0;
    width: -webkit-fill-available;
    overflow: visible;
}

.reset-password__button {
    color: #fff;
    background: #3c85ed;
    font-size: 1.8rem;
    padding: 1.2rem;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: 2px;
}