.sharemenu {

    width: 425px;
    height: 230px;
    position: fixed;
    background: white;
    left: calc(70% - 425px);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border: 1px solid transparent;
    border-radius: 6px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media (max-width: $desktop-breakpoint) {
       width: 100%;
       height: 100%;
       top: 0;
       z-index: 2;
    }
}

.sharemenu--gone {
    display: none;
}

.sharemenu--block {
    width: 100%
}

.sharemenu__title {
    color: black;
    max-width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-left: 5px; */
    margin-right: 5px;
    font-size: 13.5px;
    font-weight: 200;
    white-space: nowrap;

    @media (max-width: $desktop-breakpoint) {
        max-width: 80%;
    }
}

.sharemenu__subtitle {
    color: black;
}

.sharemenu__button__public {

    color: white;
    background: #3c85ed;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: 2px;
    width: 29%;
    height: 37px;
    padding: 3px;

    &:hover {
        background: darken(#3c85ed, 10);
        color: darken(white, 10)
    }

    @media (max-width: $desktop-breakpoint) {
        width: 36%;
        height: 47px;
     }
    
}

.sharemenu__close-button {
    width: 25px;
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0.8;

    @media (max-width: $desktop-breakpoint) {
        width: 42px;
     }
}

.sharemenu__button__one {
    color: white;
    background: #3c85ed;
    font-size: $font-size-large;
    padding: $s-size;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: $small-border;

    &:hover {
        background: darken(#3c85ed, 10);
        color: darken(white, 10)
    }
}

.sharemenu__button__done {
    color: white;
    background: #3c85ed;
    font-size: $font-size-large;
    padding: $s-size;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: $small-border;

    &:hover {
        background: darken(#3c85ed, 10);
        color: darken(white, 10)
    }
}

.sharemenu__link__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: $desktop-breakpoint) {
        height: 49px;
     }
}

.sharemenu__image {
    width: 27px;
    margin-left: 10px;
    margin-right: 5px;
}

.spinner-image {
    border: 3px solid white;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    // margin-left: 50%;
    text-align: center;
    animation: spin 2s linear infinite;
}
  
.spinner-image-grey {
    border: 3px solid lightgray;
    border-top: 3px solid #3498db;
}

.share-model-spinner-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-model-share-buttons-wrapper {
    margin-top: 12px;
    margin-bottom: 4px;
}

.share-button__wrapper {
    margin-bottom: 11px;
}