.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 50%;
    text-align: center;
    animation: spin 2s linear infinite;


  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .spinner--small-margin {
    margin-left: 4px;
  }