node_modules/
public/dist/
config/
.env.development
.env.test
.env.production
.well-known/
.eslintrc.js
.eslintrc.json
changeEncrytionPassword/
certificate.ca-bundle
certificate.crt
certificate.key
package-lock.json