node_modules/
public/dist/
config/dev.env
config/prod.env
config/test.env
.env.development
.env.test
.env.production
.well-known/
.eslintrc.js
.eslintrc.json
changeEncrytionPassword/
certificate.ca-bundle
certificate.crt
certificate.key
package-lock.json
._*
.DS_Store
dist/
rds-combined-ca-bundle.pem
docker-variables.env
