* {
    box-sizing: border-box;
}

html {
    // font-size: 62.5%;
    // --webkit-touch-callout: default;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

body {
    // color: $dark-grey;
    // font-family: Helvetica, Arial, sans-serif;
    // font-size: $m-size;
    // background-color: white;
    // line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
