// Sizes 

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
$desktop-breakpoint: 45rem;
$teal: #00bfa5;
$small-border: 2px;

// font sizees
$font-size-large: 1.8rem;
